In [1]:
import pickle

In [2]:
user_points_x = pickle.load(open('user_points_x.sav', 'rb'))
user_points_y = pickle.load(open('user_points_y.sav', 'rb'))

In [3]:
user_points_x.head()

,loan_amnt,annual_inc,dti,delinq_2yrs,inq_last_6mths,pub_rec,open_acc,pub_rec_1,revol_bal,revol_util,...,emp_length,earliest_cr_line,mths_since_last_delinq,mths_since_last_record,mths_since_last_major_derog,term_36months,addr_state,purpose,home_ownership,verification_status
0,0.287069,0.033641,0.383540,0.0,0.043234,0.000,0.023657,1,0.009048,0.094634,...,0.605166,0.951209,1.0,1.000000,1.0,1,11,1,4,1
1,0.742271,0.038724,0.999505,0.0,0.171403,0.000,0.121179,0,0.007982,0.148372,...,1.000000,1.143815,1.0,1.000000,1.0,1,2,5,4,1
2,0.994939,0.082517,0.581966,0.0,0.049314,0.002,0.057483,0,0.008102,0.105255,...,1.000000,0.850459,1.0,0.169131,1.0,1,15,5,4,1
3,0.246914,0.084085,0.585185,0.0,0.000000,0.002,0.004067,0,0.004163,0.196654,...,1.000000,0.623257,1.0,1.000000,1.0,1,32,1,4,0
4,0.025499,0.010297,0.722466,0.0,0.000000,0.000,0.184750,1,0.004752,0.191838,...,1.000000,0.882238,1.0,1.000000,1.0,0,10,1,4,1

In [4]:
user_points_y.head()

          0
0  0.220183
1  0.575251
2  0.213102
3  0.043421
4  0.520398

In [5]:
print(user_points_x.shape, user_points_y.shape)

(50000, 23) (50000, 1)

In [6]:
x_clean = pickle.load(open('X_preprocessed.sav', 'rb'))
y_clean = pickle.load(open('Y_preprocessed.sav', 'rb'))

In [7]:
print(x_clean.shape, y_clean.shape)

(168048, 23) (168048, 1)

In [8]:
import pandas as pd

In [9]:
df_chunks = []

In [10]:
i = 0
for _ in range(50):
    if i+500 < len(user_points_x):
        df_chunks.append(user_points_x.iloc[i:i + 500, :])
    else:
        df_chunks.append(user_points_x.iloc[i:, :])
    i = i + 500

In [11]:
count = 0
for chunk in df_chunks:
    count += 1
    #print(chunk)
print(count)

50

In [12]:
y_chunks = []
i = 0
for _ in range(50):
    if i+500 < len(user_points_y):
        y_chunks.append(user_points_y.iloc[i:i + 500, :])
    else:
        y_chunks.append(user_points_y.iloc[i:, :])
    i = i + 500

In [13]:
count = 0
for chunk in y_chunks:
    count += 1
    #print(chunk)
print(count)

50

In [14]:
filename = 'original_model.sav'
clean_model = pickle.load(open(filename, 'rb'))

In [15]:
x_clean = pickle.load(open('X_preprocessed.sav', 'rb'))
y_clean = pickle.load(open('Y_preprocessed.sav', 'rb'))

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [18]:
print(x_clean.shape, y_clean.shape)

(168048, 23) (168048, 1)

In [19]:
x_new = x_clean
y_new = y_clean

In [20]:
rmse_array = []

In [ ]:
for _ in range(10):

    least_error_df = pd.DataFrame()
    min_error = 10000000
    least_error_index = 10000000
    
    for index, chunk in enumerate(df_chunks):
        #print("At index:", index)
        y_pred = clean_model.predict(chunk)
        rmse = mean_squared_error(y_chunks[index], y_pred)
        #print("rmse of current chunk: ", rmse)
        if(rmse < min_error):
            min_error = rmse
            least_error_df = chunk
            least_error_index = index
            #print("Min error is now: ", min_error)

    
    least_error_df = pd.DataFrame(least_error_df.iloc[:,:].values)    
    x_new = x_new.append(least_error_df)
    y_new = y_new.append(y_chunks[least_error_index])

    del df_chunks[least_error_index]
    del y_chunks[least_error_index]
    
    print(x_new.shape, y_new.shape)

    X_train, X_test, y_train, y_test = train_test_split(x_new, y_new, test_size=0.3, random_state=0)
    regressor = LinearRegression()  
    LIR=regressor.fit(X_train, y_train) 
    y_clean_pred = LIR.predict(x_clean)

    from sklearn.metrics import mean_squared_error
    rmse = mean_squared_error(y_clean, y_clean_pred)
    rmse_array.append(rmse)
    print(rmse)

(168548, 23) (168548, 1)
0.02130226152850645

In [ ]:
import numpy as np  
import matplotlib.pyplot as plt  
  
# data to be plotted 
x = [1,2,3,4,5,6,7,8,9,10]
y = rmse_array
  
# plotting 
plt.title("RMSE after each iteration")  
plt.xlabel("Iteration")  
plt.ylabel("RMSE")  
plt.ylim([0.021275, 0.02135])
plt.plot(x, y, color ="red")  
plt.show()

In [ ]:
print(x_new.shape, y_new.shape)

In [ ]:
print(len(df_chunks), len(y_chunks))

In [ ]:
rmse_clean = pickle.load(open('rmse_clean.sav', 'rb'))

In [ ]:
x = ['Original', 'Retrained with defense']
y = [rmse_clean, rmse_array[-1]]
  
# plotting 
plt.title("RMSE before and after retraining")  
plt.xlabel("Stages")  
plt.ylabel("RMSE")  
plt.ylim([0.021, 0.0225])
plt.bar(x, y)  
plt.show()